<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>EMUS Aqua Session Script</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>exec &gt;&gt;~/.aqua-session.log 2&gt;&amp;1; . ~/.profile; . ~/.aqua-session</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
